<div class="socials new-section">
  <h2>Talk to me!
    <br><small>Warning: I have a cat and may send pictures of her.</small>
  </h2>
  <ul class="new-section social-list last-section">
    <li class="social-link"><a href="mailto:cdruecker@gmail.com">
        <%= image_tag("mail-icon.png", :alt => "Email icon") %>
    </a></li>
    <li class="social-link"><a href="https://www.linkedin.com/in/cdruecker/">
      <%= image_tag("linkedin-icon.png", :alt => "LinkedIn icon") %>  
    </a></li>
  </ul>
</div>
