<div class="container new-section">
  <h2>Cameron's Essentials</h2>
<div id="wellness" class="row essence-title">
  <h3>Health</h3>
</div>
<div id="wellness-text" class="row essence-paragraph">
  <div class="col-md-offset-2 col-md-8">
  <p>I enjoy keeping up to date with psychology research. My favorite topic is social psychology - think a more formal "pop psychology" vs the more medical-leaning clinical psychology.</p>
  <p>I've recently started dabbling with more physical self-care. I started doing a little yoga every day in the beginning of September 2017 with the help of <a href="https://www.downdogapp.com">Down Dog</a>, an awesome instructional app.</p>
  <p>I've adopted the <a href="http://bulletjournal.com/get-started">bullet journal</a> methodology for journaling, which has been amazing at keeping me focused and organized.</p>
  <p>I'm still exploring how to wind down without falling into the mindless TV cycle (if you've got any advice, let me know!). As of right now I'm lighting some nice candles and sketching before going to bed.</p>
  </div>
</div>
<div id="food" class="row essence-title new-section">
  <h3>Food</h3>
</div>
<div id="food-text" class="row essence-paragraph">
  <div class="col-md-offset-2 col-md-8">
  <p>I know, I know. Everybody eats. But <a href="http://www.huffingtonpost.com/entry/personality-eating-habits_us_58b75b35e4b0284854b3e310">diets are correlated with personality</a>, so I think food habits fit well as a proxy for directly talking about personality.</p>
  <p>Though I'm pretty wimpy about spicy food, I love the taste. One of my favorite dishes that I can never finish is Andhra Chicken.</p>
  <p>I'm a pretty bad-to-mediocre cook, but that doesn't mean I don't spend time looking at recipes (shout-out to <a href="https://www.justonecookbook.com/">my favorite recipe blog</a> and sometimes even attempting them. Weirdly enough, I don't love buying groceries but hunting for spices is really fun.</p>
  </div>
</div>
<div id="videogames" class="row essence-title new-section">
  <h3>Gaming</h3>
</div>
<div id="videogames-text" class="row essence-paragraph">
  <div class="col-md-offset-2 col-md-8">
    <p>I. Love. Games. When I was younger, I used to be way too invested in videogames. As I got older I started feeling the effects of 12 hour video game bingers, so now my interest is evolving into board games, which are a lot harder to fall into like that. Though I think of myself as a cooperative person in general, I get really competitive with games. Whether it's against the designed systems or other players, I love the process of discovery and optimization that comes with playing new games.</p>
    <p>Online competitive games really showed me how to be resilient to failure, since you end up with a matchmaking system that tries to balance out your wins and losses. It's a pretty interesting situation to be in an environment where gaining mastery doesn't translate to more winning, but it really helped me find satisfaction in the act of improving independent of results, which I think is a really great mindset.</p>
    <p>As of right now, my all-time favorite game is <a href="https://xcom.com/">X-COM 2</a>, a brutal turn-based, high-intensity strategy game.</p> For board games, I like <a href="https://boardgamegeek.com/boardgame/822/carcassonne">Carcassonne</a>, which has a really low barrier to entry, and is very flexible with number of players. It's a European board game, where competition is often indirect, so games are usually relaxing.</p>
    <p>In general, I like Strategy, RPG, and MOBA games. My current interest is <a href="https://www.divinity.game/">Divinity: Original Sin 2</a> which is as close to Dungeons and Dragons as you can get right now. I keep up to date with <a href="https://www.rockpapershotgun.com">Rock, Paper, Shotgun</a> for game news.</p>
  </div>
</div>
</div>
